# Data Types & Basic Programs
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Write a program to take principal amount, rate and interest as input and calculate simple interest.

In [1]:

 # python code for calculating simple interest using principal amount, rate and interest
def simple_interest(p, t, r):
    print('The pricipal is ', p)
    print('The time period is', t)
    print('The rate of interest is', r)
    si= (p*t*r)/100
    print('The Simple Interest is', si)
    return si
  # sample amount for code
simple_interest(9,8,9)

The pricipal is  9
The time period is 8
The rate of interest is 9
The Simple Interest is 6.48

6.48

In [17]:
# python code for calculating simple interest
principal_amount = int(input("Enter The Principal Amount : "))
no_of_year       = int(input("Enter The No of Years      : "))
rate_of_interest = int(input("Enter The rate of Interest : "))

# simple interest calculation using formula :p*n*r/100
simple_interest   = (principal_amount * no_of_year * rate_of_interest)/100

# result printing
print('The Simple Interest is     : {}    '.format(simple_interest))

Enter The Principal Amount : 6
Enter The No of Years      : 7
Enter The rate of Interest : 8
The Simple Interest is     : 3.36

#### 2. Write a program that takes a string as input and prints the number of words in the string.

In [31]:
#program to print number words in a given string
given_string = list(map(str,input('The Given Input strings is  :').split())) 
# to get inpiut as more than 1 string
print('The Given String is                           :', given_string)
word_count   = len(given_string)
print('The  Number of word in given string  is       :', word_count)

The Given Input strings is  :priya kalai lakshmi
The Given String is                           : ['priya', 'kalai', 'lakshmi']
The  Number of word in given string  is       : 3

In [1]:
#program to print number words in a given string
given_string = input('The Given Input strings is  :')
given_string = given_string.split()
# to get inpiut as more than 1 string
print('The Given String is                           :', given_string)
word_count   = len(given_string)
print('The  Number of word in given string  is       :', word_count)

The Given Input strings is  :hai how are you
The Given String is                           : ['hai', 'how', 'are', 'you']
The  Number of word in given string  is       : 4

#### 3. Write a program to take a list of numbers as input (in a single line) and print the sum, avg, max and min elements.

In [32]:
# get list of numbers in single line then calculate sum,avg,max,min

first_subject  = int(input("Enter the student marks in first subject  : "))
second_subject = int(input("Enter the student marks in second subject : "))
third_subject  = int(input("Enter the student marks in third subject  : "))
forth_subject  = int(input("Enter the student marks in fourth subject : "))
fifth_subject  = int(input("Enter the student marks in fifth subject  : "))
# total subjects in list
total_subject  = [first_subject, second_subject, third_subject, forth_subject, fifth_subject]

print()
#printing the sum
print("The Student's Sum          is : ", sum(total_subject))
#printing the avg
print("The Student's Average      is : ", sum(total_subject)/len(total_subject))
#printing the max
print("The Student's Higest score is : ", max(total_subject))
#printing the min
print("The Student's Lowest score is : ", min(total_subject))

Enter the student marks in first subject  : 66
Enter the student marks in second subject : 77
Enter the student marks in third subject  : 88
Enter the student marks in fourth subject : 99
Enter the student marks in fifth subject  : 55

The Student's Sum          is :  385
The Student's Average      is :  77.0
The Student's Higest score is :  99
The Student's Lowest score is :  55

In [2]:
num = input ('Enter the marks in 5 subject(seperated by space) :').split()
num = list(map(int,num))
print(sum(num))
print(sum(num)/len(num))
print(max(num))
print(min(num))

Enter the marks in 5 subject(seperated by space) :67 54 89 77 100
387
77.4
100
54

#### 4. Write a program to take the marks of 3 students in five subjects each as a list (one list for each input) as input and print the average score of each student..

In [39]:
# get three student five subject marks then find average score of each student
student1_score=list(map(int,input("Enter the Five subject marks of roll no 1 student :").split()))
student2_score=list(map(int,input("Enter the five subject marks of roll no 2 student :").split()))
student3_score=list(map(int,input("Enter the five subject marks of roll no 3 student :").split()))
print()
#finding avg of each student
print("Roll no 1 Student Average Mark is :",sum(student1_score)/len(student1_score))
print("Roll no 2 Student Average Mark is :",sum(student2_score)/len(student2_score))
print("Roll no 3 Student Average Mark is :",sum(student3_score)/len(student3_score))

Enter the Five subject marks of roll no 1 student :99 98 97 96 95
Enter the five subject marks of roll no 2 student :89 88 87 86 85
Enter the five subject marks of roll no 3 student :98 85 99 84 92

Roll no 1 Student Average Mark is : 97.0
Roll no 2 Student Average Mark is : 87.0
Roll no 3 Student Average Mark is : 91.6

#### 5. Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

In [40]:
# get input as 10 coin H or T occuences when tossed and count no of occurences of H and T

ten_coin_results=list(map(str,input("Enter The occurence of H or T in  10 Coin Tosses :").split()))
occurence=list(map(str.upper,ten_coin_results))
jon_count=occurence.count('T')
tom_count=occurence.count('H')

print()
print('Total points of Jon is :',jon_count)
print('Total points of Tom is :',tom_count)

Enter The occurence of H or T in  10 Coin Tosses :h t h h t t t h t t

Total points of Jon is : 6
Total points of Tom is : 4

#### 6. Take two numbers as input and print the result after swapping them. (Without using multiple assignment and any extra variable).

In [41]:
# swapping of two numbers without using multiple assignment and any extra variable
first_number = int(input('Enter the first number:'))
second_number = int(input('Enter the second number:'))
print('\nBefore swaping:')
print('first_number is  =', first_number)
print('second_number is =', second_number)
print('\nswaping operation without temp variable :')
first_number = first_number + second_number
print('first number  =',first_number)
second_number = first_number - second_number
print('second number  =',second_number)
first_number = first_number - second_number
print('first number   =',first_number)
print('\nAfter swapping : ')
print('first_number   =',first_number)
print('second_number  =',second_number)

Enter the first number:56
Enter the second number:78

Before swaping:
first_number is  = 56
second_number is = 78

swaping operation without temp variable :
first number  = 134
second number  = 56
first number   = 78

After swapping :
first_number   = 78
second_number  = 56

#### 7. Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both.

In [49]:

student_marks=list(map(int,input("Enter the numbers : ").split()))
tom_marks = student_marks[0::2]

print('tom marks {}'.format(tom_marks))
jon_marks = student_marks[1::2]

print('jon marks {}'.format(jon_marks))
print('tom avg :',sum(tom_marks)/len(tom_marks))
print('jon avg :',sum(jon_marks)/len(jon_marks))

Enter the numbers : 99 98 97 96 95 94 93 92 91 90
tom marks [99, 97, 95, 93, 91]
jon marks [98, 96, 94, 92, 90]
tom avg : 95.0
jon avg : 94.0

#### 8. Take a string and a character as input. Print the result having the character between each word of the given string.

In [5]:
input_string        = (input("Enter a string: ").split())
inserted_char_value = input("Enter a char to add  : ")
combined_result     = inserted_char_value.join(input_string)
print("The Combined Result is :", combined_result)

Enter a string: priya dayalan bakkiya lakshmi
Enter a char to add  : @@
The Combined Result is : priya@@dayalan@@bakkiya@@lakshmi

#### 9. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the average score of each student.

In [50]:
marks = { 'student1'  : [12,34,56,78,90],
          'student2'  : [99,33, 66,77,88],
          'student3'  : [99,77,88,44,55] }
mark1 = list(marks.values())
mark1
student1 = mark1[0]
student2 = mark1[1]
student3 = mark1[2]
print('student1 Average score is :' , sum(student1)/len(student1))
print('student2 Average score is :' , sum(student2)/len(student2))
print('student3 Average score is :' , sum(student3)/len(student3))

student1 Average score is : 54.0
student2 Average score is : 72.6
student3 Average score is : 72.6

In [3]:
marks = { 'student1'  : [12,34,56,78,90],
          'student2'  : [99,33, 66,77,88],
          'student3'  : [99,77,88,44,55] }
student_1= marks[student1][0]
student_2 = marks[student2][1]
student_3 = marks[student3][2]
print('student1 Average score is :' , sum(student_1)/len(student_1))
print('student2 Average score is :' , sum(student_2)/len(student_2))
print('student3 Average score is :' , sum(student_3)/len(student_3))

NameError: name 'student1' is not defined

In [2]:
marks = { 'student1'  : [12,34,56,78,90],
          'student2'  : [99,33, 66,77,88],
          'student3'  : [99,77,88,44,55] }
student1 = marks['student1']
student2 = marks['student2']
student3 = marks['student3']
print('student1 Average score is :' , sum(student1)/len(student1))
print('student2 Average score is :' , sum(student2)/len(student2))
print('student3 Average score is :' , sum(student3)/len(student3))

student1 Average score is : 54.0
student2 Average score is : 72.6
student3 Average score is : 72.6

In [4]:
marks = { 'student1'  : [12,34,56,78,90],
          'student2'  : [99,33, 66,77,88],
          'student3'  : [99,77,88,44,55] }
std1 = marks['student1']
print(sum(std1)/len(std1))

54.0

#### 10. Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [51]:
input_names  = ['priya','raji','goms','kani','priya','kalai']
unique_names = set(input_names)
unique_names

{'goms', 'kalai', 'kani', 'priya', 'raji'}

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [6]:
help(python)

NameError: name 'python' is not defined