In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [16]:
nutrition_food

    food_name\t Calories\t Fat (g)\t Carb. (g)\t Fiber (g)\t Protein (g)
0                      Chonga Bagel\t300\t5\t50\t3\t12
1                      8-Grain Roll\t380\t6\t70\t7\t10
2                 Almond Croissant\t410\t22\t45\t3\t10
3                     Apple Fritter\t460\t23\t56\t2\t7
4                  Banana Nut Bread\t420\t22\t52\t2\t6
..                                                 ...
108  Justin's Chocolate Hazelnut Butter\t180\t14\t1...
109   Justin's Classic Almond Butter\t190\t18\t6\t3\t7
110           Lemon Chiffon Yogurt\t340\t13\t38\t0\t18
111           Organic Avocado (Spread)\t90\t8\t5\t4\t1
112              Seasonal Fruit Blend\t90\t0\t24\t4\t1

[113 rows x 1 columns]

In [18]:
nutrition_food = nutrition_food.apply(lambda s : (s.split('\t')[0]

SyntaxError: incomplete input (4025240688.py, line 2)

In [19]:

# Read the Excel file into a DataFrame
nutrition_food = pd.read_csv(file_path, sheet_name=sheet_name)

# Apply the transformation to the specified column using lambda
df[column_name] = df[column_name].apply(lambda s: s.split('\t')[0])

# Save the modified DataFrame back to the Excel file
df.to_excel(file_path, sheet_name=sheet_name, index=False)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2605706156.py, line 1)