### importing Libraries

In [1]:
import pandas as pd

### Uploading the Datasets

### 1. Content Dataset

In [2]:
# importing content csv file
content = pd.read_csv('content.csv')
content.head(5)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

### To check the column names

In [3]:
content.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [4]:
#checking column info
content.info

<bound method DataFrame.info of      Unnamed: 0                            Content ID  \
0             0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1             1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2             2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3             3  356fff80-da4d-4785-9f43-bc1261031dc6
4             4  01ab84dd-6364-4236-abbb-3f237db77180
..          ...                                   ...
995         995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996         996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997         997  435007a5-6261-4d8b-b0a4-55fdc189754b
998         998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999         999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID   Type         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4  photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1  video             food
..                                    ...    ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d  video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609    GIF       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a  audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1    GIF          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff  audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 6 columns]>

In [5]:
# checking null values 
content.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

Dropping the columns which is not useful for this Datasets using drop method

In [6]:
# dropping columns
content.drop(columns=['URL'], inplace=True)
content.drop(columns=['Unnamed: 0'], inplace=True)
content.drop(columns=['Content ID'], inplace=True)

### To check the null values in the columns

In [7]:
# checking null values
content.isna().sum()

User ID     0
Type        0
Category    0
dtype: int64

In [8]:
# Checking duplicates
content.duplicated().sum()

9

In [9]:
content.drop_duplicates(inplace=True)

In [10]:
content.columns

Index(['User ID', 'Type', 'Category'], dtype='object')

In [11]:
content['Type'].unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

###  2.Reactions Dataset

In [12]:
# importing reactions dataset
reactions = pd.read_csv('Reactions.csv')
reactions.head(5)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [13]:
# to check columns
reactions.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')

In [14]:
# checking the info of the dataset
reactions.info

<bound method DataFrame.info of        Unnamed: 0                            Content ID  \
0               0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1               1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2               2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3               3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4               4  97522e57-d9ab-4bd6-97bf-c24d952602d2
...           ...                                   ...
25548       25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549       25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25550       25550  75d6b589-7fae-4a6d-b0d0-752845150e56
25551       25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552       25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type             Datetime
0                                       NaN         NaN  2021-04-22 15:17:15
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07 09:43:50
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17 12:22:51
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18 05:13:58
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06 19:13:01
...                                     ...         ...                  ...
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27 09:46:48
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16 17:17:02
25550                                   NaN  interested  2020-09-12 03:54:58
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04 20:08:31
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04 04:55:11

[25553 rows x 5 columns]>

In [15]:
# check null values
reactions.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [16]:
# check duplicated values
reactions.duplicated().sum()

0

In [17]:
# droping unwanted columns for this dataset
reactions.drop(columns=['Content ID'], inplace=True)
reactions.drop(columns=['Unnamed: 0'], inplace=True)

In [18]:
# drop the null value row in user id column
reactions.dropna(subset=['User ID'], inplace=True)

In [19]:
# check no of unique type in the reaction dataset
print(reactions['Type'].unique())

['disgust' 'dislike' 'scared' 'interested' 'peeking' 'cherish' 'hate'
 'indifferent' 'super love' 'worried' 'like' 'heart' 'want' 'intrigued'
 'love' 'adore']

In [20]:
# filling null values of type with mode of that column
reactions['Type'].fillna(value=reactions['Type'].mode()[0], inplace=True)

In [21]:
# checking no of unique columns
reactions['Type'].unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'indifferent', 'super love', 'worried', 'like', 'heart',
       'want', 'intrigued', 'love', 'adore'], dtype=object)

In [22]:
# Assuming reactions is your DataFrame
reactions.dropna(subset=['User ID'], inplace=True)

In [23]:
# checking null values after cleaning process
reactions.isna().sum()

User ID     0
Type        0
Datetime    0
dtype: int64

### 3. Reaction types dataset

In [24]:
# importing reaction type dataset
reactions_types = pd.read_csv('ReactionTypes.csv')
reactions_types.head(5)

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [25]:
# checking columns
reactions_types.columns

Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')

In [26]:
# dropping inwanted column in the dataset
reactions_types.drop(columns=['Unnamed: 0'], inplace=True)

In [27]:
# checking no of unique columns
reactions_types['Type'].unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [28]:
# checking null values
reactions_types.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [29]:
# checking duplicated values
reactions_types.duplicated().sum()

0

### Merging 3 dataframes using pandas

In [30]:
# merging two dataframes
social_buzz_dataset = pd.merge(reactions, reactions_types, on='Type', how='inner')

In [31]:
# viewing merged dataset
social_buzz_dataset.head(5)

,User ID,Type,Datetime,Sentiment,Score
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0
1,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0
2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,negative,0
3,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,negative,0
4,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,negative,0

In [32]:
# merged dataset columns
social_buzz_dataset.columns

Index(['User ID', 'Type', 'Datetime', 'Sentiment', 'Score'], dtype='object')

In [33]:
# merging the social_buzz data set with content dataset
social_buzz_dataset = pd.merge(social_buzz_dataset, content, on = 'User ID', how = 'inner',suffixes=('_base', '_content'))

In [34]:
social_buzz_dataset.head()

,User ID,Type_base,Datetime,Sentiment,Score,Type_content,Category
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0,audio,cooking
1,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0,video,studying
2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2021-05-18 13:11:05,negative,0,audio,cooking
3,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2021-05-18 13:11:05,negative,0,video,studying
4,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-10-10 20:43:03,negative,0,audio,cooking

In [35]:
print(social_buzz_dataset.columns)

Index(['User ID', 'Type_base', 'Datetime', 'Sentiment', 'Score',
       'Type_content', 'Category'],
      dtype='object')

### Final merged dataset

In [36]:
social_buzz_dataset.head(10)

,User ID,Type_base,Datetime,Sentiment,Score,Type_content,Category
0,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0,audio,cooking
1,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0,video,studying
2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2021-05-18 13:11:05,negative,0,audio,cooking
3,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2021-05-18 13:11:05,negative,0,video,studying
4,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-10-10 20:43:03,negative,0,audio,cooking
5,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-10-10 20:43:03,negative,0,video,studying
6,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-12-05 23:54:32,negative,0,audio,cooking
7,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-12-05 23:54:32,negative,0,video,studying
8,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-09-04 18:36:05,negative,0,audio,cooking
9,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-09-04 18:36:05,negative,0,video,studying

In [38]:
top_categories = social_buzz_dataset['Category'].value_counts().head(5)

print("Top 5 Categories:")
print(top_categories)

Top 5 Categories:
technology    3073
travel        2994
animals       2975
science       2845
food          2794
Name: Category, dtype: int64

 The above dataset is final merged dataset of  three diffrent csv file of social buzz

In [45]:
top_categories = social_buzz_dataset['Category'].value_counts().head(5)

# Group by the top 5 categories
grouped_df = social_buzz_dataset[social_buzz_dataset['Category'].isin(top_categories)].groupby('Category')

# Perform further analysis or aggregation on grouped data
# For example, you can calculate the sum of 'Value' for each category
grouped_df

In [47]:
# Assuming you have obtained the top categories using the line you provided
top_categories = social_buzz_dataset['Category'].value_counts().head(5)

# Assuming 'social_buzz_dataset' is your DataFrame
# Filter the DataFrame to keep only rows with categories from the top 5
filtered_df = social_buzz_dataset[social_buzz_dataset['Category'].isin(top_categories.index)]

# Now 'filtered_df' contains only the rows with categories from the top 5

In [56]:
filtered_df = filtered_df.groupby('Category')

In [57]:
for category, group in filtered_df:
    print("Category:", category)
    print(group)
    print()  # Separate each

Category: animals
                                    User ID Type_base             Datetime  \
367    10f311c3-f547-4260-8c0e-a155008b7936   disgust  2021-01-13 23:35:56
369    10f311c3-f547-4260-8c0e-a155008b7936   disgust  2021-01-23 05:42:10
371    10f311c3-f547-4260-8c0e-a155008b7936   dislike  2020-11-07 15:12:25
373    10f311c3-f547-4260-8c0e-a155008b7936   dislike  2020-11-05 07:12:26
375    10f311c3-f547-4260-8c0e-a155008b7936   dislike  2021-01-03 11:25:39
...                                     ...       ...                  ...
44504  a6f003be-b0fd-4100-b4cc-f568a21b9745     adore  2020-08-11 18:55:51
44507  a6f003be-b0fd-4100-b4cc-f568a21b9745     adore  2021-03-23 15:04:50
44510  a6f003be-b0fd-4100-b4cc-f568a21b9745     adore  2020-12-19 16:25:56
44513  a6f003be-b0fd-4100-b4cc-f568a21b9745     adore  2020-07-04 00:13:55
44516  a6f003be-b0fd-4100-b4cc-f568a21b9745     adore  2021-05-16 08:59:32

      Sentiment  Score Type_content Category
367    negative      0        photo  animals
369    negative      0        photo  animals
371    negative     10        photo  animals
373    negative     10        photo  animals
375    negative     10        photo  animals
...         ...    ...          ...      ...
44504  positive     72        photo  animals
44507  positive     72        photo  animals
44510  positive     72        photo  animals
44513  positive     72        photo  animals
44516  positive     72        photo  animals

[2975 rows x 7 columns]

Category: food
                                    User ID Type_base             Datetime  \
180    4c0558bc-b0d9-44b0-8b70-5fc6acb6c362   disgust  2021-01-14 07:21:32
181    4c0558bc-b0d9-44b0-8b70-5fc6acb6c362   disgust  2021-01-14 07:21:32
184    4c0558bc-b0d9-44b0-8b70-5fc6acb6c362   disgust  2020-12-10 07:13:47
185    4c0558bc-b0d9-44b0-8b70-5fc6acb6c362   disgust  2020-12-10 07:13:47
188    4c0558bc-b0d9-44b0-8b70-5fc6acb6c362   dislike  2020-07-21 13:48:02
...                                     ...       ...                  ...
44216  d0ea9a00-4ea9-4c81-b16a-a20b72f824ea     adore  2020-12-29 04:08:51
44220  d0ea9a00-4ea9-4c81-b16a-a20b72f824ea     adore  2020-12-04 15:51:43
44224  d0ea9a00-4ea9-4c81-b16a-a20b72f824ea     adore  2020-06-23 11:24:05
44228  d0ea9a00-4ea9-4c81-b16a-a20b72f824ea     adore  2020-09-03 06:38:12
44232  d0ea9a00-4ea9-4c81-b16a-a20b72f824ea     adore  2021-03-30 22:06:27

      Sentiment  Score Type_content Category
180    negative      0        photo     food
181    negative      0        video     food
184    negative      0        photo     food
185    negative      0        video     food
188    negative     10        photo     food
...         ...    ...          ...      ...
44216  positive     72          GIF     food
44220  positive     72          GIF     food
44224  positive     72          GIF     food
44228  positive     72          GIF     food
44232  positive     72          GIF     food

[2794 rows x 7 columns]

Category: science
                                    User ID Type_base             Datetime  \
543    85503a94-e733-486e-989e-12ff9b59f2d3   disgust  2021-05-27 01:44:22
545    85503a94-e733-486e-989e-12ff9b59f2d3   disgust  2021-03-18 22:16:29
547    85503a94-e733-486e-989e-12ff9b59f2d3   disgust  2020-12-23 03:39:58
549    85503a94-e733-486e-989e-12ff9b59f2d3   disgust  2021-01-14 06:20:48
551    85503a94-e733-486e-989e-12ff9b59f2d3   dislike  2020-10-27 23:14:54
...                                     ...       ...                  ...
43766  7d624010-a0e7-455b-a606-48c5c467dd80      love  2020-08-29 21:25:08
43768  7d624010-a0e7-455b-a606-48c5c467dd80      love  2021-06-01 09:11:58
43770  7d624010-a0e7-455b-a606-48c5c467dd80     adore  2020-12-02 04:59:09
43772  7d624010-a0e7-455b-a606-48c5c467dd80     adore  2020-06-30 09:48:27
43774  7d624010-a0e7-455b-a606-48c5c467dd80     adore  2020-09-26 19:14:32

      Sentiment  Score Type_content Category
543    negative      0        video  science
545    negative      0        video  science
547    negative      0        video  science
549    negative      0        video  science
551    negative     10        video  science
...         ...    ...          ...      ...
43766  positive     65        photo  science
43768  positive     65        photo  science
43770  positive     72        photo  science
43772  positive     72        photo  science
43774  positive     72        photo  science

[2845 rows x 7 columns]

Category: technology
                                    User ID  Type_base             Datetime  \
1035   3e65775b-36e4-495d-9c45-28127fb3da5f    disgust  2020-12-08 13:12:56
1038   3e65775b-36e4-495d-9c45-28127fb3da5f    disgust  2020-07-12 11:17:41
1041   3e65775b-36e4-495d-9c45-28127fb3da5f    disgust  2020-09-02 20:34:27
1044   3e65775b-36e4-495d-9c45-28127fb3da5f    disgust  2020-10-07 05:43:15
1047   3e65775b-36e4-495d-9c45-28127fb3da5f    dislike  2021-06-09 02:03:02
...                                     ...        ...                  ...
43128  bf970f55-66c1-402d-a5d7-f086421516c9  intrigued  2021-02-27 01:22:01
43129  bf970f55-66c1-402d-a5d7-f086421516c9  intrigued  2020-08-23 00:52:58
43130  bf970f55-66c1-402d-a5d7-f086421516c9       love  2020-11-17 20:08:52
43131  bf970f55-66c1-402d-a5d7-f086421516c9       love  2021-03-09 05:03:16
43132  bf970f55-66c1-402d-a5d7-f086421516c9      adore  2020-11-26 19:07:41

      Sentiment  Score Type_content    Category
1035   negative      0          GIF  technology
1038   negative      0          GIF  technology
1041   negative      0          GIF  technology
1044   negative      0          GIF  technology
1047   negative     10          GIF  technology
...         ...    ...          ...         ...
43128  positive     45        video  technology
43129  positive     45        video  technology
43130  positive     65        video  technology
43131  positive     65        video  technology
43132  positive     72        video  technology

[3073 rows x 7 columns]

Category: travel
                                    User ID  Type_base             Datetime  \
131    ef147ea5-9696-44d5-b6c2-a43f62fd8ce2    disgust  2020-08-04 05:40:33
132    ef147ea5-9696-44d5-b6c2-a43f62fd8ce2    disgust  2021-02-10 00:53:16
133    ef147ea5-9696-44d5-b6c2-a43f62fd8ce2    dislike  2020-06-29 07:21:18
134    ef147ea5-9696-44d5-b6c2-a43f62fd8ce2    dislike  2020-11-06 03:56:50
135    ef147ea5-9696-44d5-b6c2-a43f62fd8ce2    dislike  2020-12-06 02:49:04
...                                     ...        ...                  ...
44372  2a41e628-4cc5-4765-af2e-8b3dec750c0b  intrigued  2021-01-10 19:23:32
44375  2a41e628-4cc5-4765-af2e-8b3dec750c0b  intrigued  2021-02-25 20:33:53
44378  2a41e628-4cc5-4765-af2e-8b3dec750c0b       love  2020-10-29 15:18:02
44381  2a41e628-4cc5-4765-af2e-8b3dec750c0b      adore  2021-05-20 22:03:27
44384  2a41e628-4cc5-4765-af2e-8b3dec750c0b      adore  2020-10-08 04:10:26

      Sentiment  Score Type_content Category
131    negative      0        photo   travel
132    negative      0        photo   travel
133    negative     10        photo   travel
134    negative     10        photo   travel
135    negative     10        photo   travel
...         ...    ...          ...      ...
44372  positive     45          GIF   travel
44375  positive     45          GIF   travel
44378  positive     65          GIF   travel
44381  positive     72          GIF   travel
44384  positive     72          GIF   travel

[2994 rows x 7 columns]

In [58]:
#filtered_df.to_csv('Social_buzz_dataset.csv')

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_csv'

In [60]:
pwd

'C:\\Users\\DX\\Desktop\\datascience\\Internship\\Accenture'

In [62]:
# Define a directory path to save the CSV files
output_directory = 'C:\\Users\\DX\\Desktop\\datascience\\Internship\\Accenture\\'

# Iterate over the groups and save them as CSV files
for category, group in filtered_df:
    # Create a file name based on the category
    file_name = output_directory + category + '.csv'
    # Save the group to a CSV file
    group.to_csv(file_name, index=False)

TypeError: bad operand type for unary +: 'str'

In [65]:
output_file = 'C:\\Users\\DX\\Desktop\\datascience\\Internship\\Accenture\\social_buzz_data.csv'

# Concatenate all groups together
combined_data = pd.concat([group for _, group in filtered_df])

# Save the combined data to a CSV file
combined_data.to_csv(output_file, index=False)