#### Create the classes and functions as per following description: 
- Create a class Person : 
   - The attributes of the class are name, age, city
   - The functions of the class are :
       - __init__(self, name, age, city)
       - show_details(self)
       - update_city(self, new_city)
       
- Create a class Employee which inherits the class Person:
    - The attributes of the class are name , age, city, salary, position, dept
    - The functions of the class are : 
        - __init__(self, name , age, city, salary, position, dept)
        - show_details(self)
        - update_salary(self, new_salary)
        - update_dept(self, new_dept)
        - update_position(self, new_pos)
        - inc_salary(self)
        - dec_salary
        
- Make use of the super function when necessary
- Create objects and Demonstrate working of all the functions

In [1]:
class Employee:
    def __init__(self, empid, fname, lname, gender, age, city, desg, dept, org, salary):
        self.employee_id = empid
        self.first_name = fname
        self.last_name = lname
        self.gender = gender
        self.age = age
        self.city = city
        self.designation = desg
        self.department = dept
        self.organisation = org
        self.salary = salary
        
    def show_details(self):
        print('The details are : ')
        print('Employee ID  : ', self.employee_id)
        print('First name   : ', self.first_name)
        print('Last name    : ', self.last_name)
        print('Gender       : ', self.gender)
        print('Age          : ', self.age)
        print('City         : ', self.city)
        print('Designation  : ', self.designation)
        print('Department   : ', self.department)
        print('Organisation : ', self.organisation)
        print('Salary       : ', self.salary)
        
    def update_city(self, new_city):
        self.city = new_city
        print('The city for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.city))
        
    def update_desg(self, new_desg):
        self.designation = new_desg
        print('The designation for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.designation))
        
    def update_dept(self, new_dept):
        self.department = new_dept
        print('The department for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.department))
        
    def update_org(self, new_org):
        self.organisation = new_org
        print('The organisation for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.organisation))
        
    def update_salary(self, new_salary):
        self.salary = new_salary
        print('The salary for {} {} has been updated to {}'.format(self.first_name, self.last_name, self.salary))
        
    def increase_salary(self, inc):
        self.salary *= (1 + inc/100)    # self.salary = self.salary * (1 + inc/100)
        print('The salary for {} {} has been increased by {}%'.format(self.first_name, self.last_name, inc))
        print('The new salary after the raise is : ', self.salary)
              
    def decrease_salary(self, dec):
        self.salary *= (1 - dec/100)    # self.salary = self.salary * (1 - dec/100)
        print('The salary for {} {} has been decreased by {}%'.format(self.first_name, self.last_name, dec))
        print('The new salary after the decrement is : ', self.salary)

In [2]:
emp1 = Employee(101, 'Sachin', 'Sethy', 'Male', 39, 'Chennai', 'IT Guy', 'IT',  'WellsFargo', 55000)
emp2 = Employee(102, 'Madhu', 'Vidhya', 'Female' ,25, 'Chennai', 'HR', 'Talent Acquisition', 'Gen Digital', 30000)
emp3 = Employee(103,'Priya','Dayalan','Female',26,'Kanchipuram', 'IT', 'IT', 'Tcs', 30000)

In [4]:
emp1.show_details()

The details are :
Employee ID  :  101
First name   :  Sachin
Last name    :  Sethy
Gender       :  Male
Age          :  39
City         :  Chennai
Designation  :  IT Guy
Department   :  IT
Organisation :  WellsFargo
Salary       :  55000

In [5]:
emp2.show_details()

The details are :
Employee ID  :  102
First name   :  Madhu
Last name    :  Vidhya
Gender       :  Female
Age          :  25
City         :  Chennai
Designation  :  HR
Department   :  Talent Acquisition
Organisation :  Gen Digital
Salary       :  30000

In [7]:
emp3.show_details()

The details are :
Employee ID  :  103
First name   :  Priya
Last name    :  Dayalan
Gender       :  Female
Age          :  26
City         :  Kanchipuram
Designation  :  IT
Department   :  IT
Organisation :  Tcs
Salary       :  30000